{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Casos Clínicos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/casos.css' %}">
</head>

<body>
    <div class="container">
        
        <h1>Casos Clínicos del Curso</h1>
        
        {% for caso in casos %}
        <div class="caso-card">
            <h2>{{ caso.caso }}</h2>
            <p> {{ caso.Curso.nombre_del_curso }}</p>
            <a href="{% url 'Caso_Clinico:detalle_caso' caso.id %}" class="btn-ver">
                <i class="fas fa-arrow-right"></i> Ver Detalles
            </a>
        </div>
        {% empty %}
        <p>No hay casos clínicos disponibles para este curso.</p>
        {% endfor %}
    </div>
</body>
</html>